@theme {
	--color-dark1: #141414;
	--color-dark2: #121212;
	--color-dark3: #0e0e0e;
	--color-dark4: #050505;
	--color-dark5: #000000;

	--color-indigo1: #8666bd;
	--color-indigo2: #452678;

	--color-gray1: #4d4d4d;
}
